@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
}


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 360px;
}



@media (max-width: 767px) {
  html, body {
    overflow-y: auto; 
  }
}

@media (min-width: 768px) {
  html, body {
    overflow-y: hidden; 
  }
}


@media (max-height: 930px) { 
  html, body {
    overflow-y: auto; 
  }
}
.footer {
  margin-bottom: 0;
  padding-bottom: 0;
}

html {
    background-image:
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+78.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+43.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+62.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+74.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+21+%281%29.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+21.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+19.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+20.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+18.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+72.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+16.5.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+55.5.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+38.5.svg'),
            url('https://uniwave-main.s3.eu-central-1.amazonaws.com/Ornament+2.svg');
    background-repeat:
            no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size:
            10%, 11%, 8%, 12%, 14%, 11%, 14%, 9%, 12%, 10%, 15%, 8%, 12%, 12%, 11%;
    background-position:
            5% 90%,
            10% 10%,
            80% 20%,
            90% 80%,
            18% 50%,
            75% 5%,
            20% 90%,
            75% 89%,
            96% 30%,
            15% 20%,
            35% 70%,
            80% 10%,
            20% 20%,
            80% 60%,
            20% 90%;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-50 dark:bg-neutral-900 rounded-lg overflow-x-auto border border-neutral-200 dark:border-neutral-900;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose h2,
h3,
h4 {
  @apply font-medium tracking-tighter !important;
}

.prose strong {
  @apply font-medium;
}

.prose > :first-child {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: 500;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose .callout > p {
  margin: 0 !important;
}

.title {
  text-wrap: balance;
}

@media (max-width: 768px) {
  .main-section {
    padding: 20px; /* Add appropriate padding or styling for smaller screens */
  }

  /* Update the column layout for smaller screens */
  .columns-2 {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between items */
  }

  .columns-3 {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjust the gap between items */
  }

  /* Add responsive styles for images and videos */
  .h-40,
  .h-80 {
  max-width: 100%; /* Resimlerin ekran genişliğine sığmasını sağlar */
  height: auto; /* Oranları koruyarak resimlerin boyutunu otomatik olarak ayarlar */
  }

  .rounded-lg {
    border-radius: 8px; /* Adjust the border-radius for images and videos */
  }

  .object-cover {
    object-fit: cover; /* Adjust how images/videos are displayed */
  }

  /* Adjust VideoPlayerControls position for smaller screens */
  .VideoPlayerControls {
    top: auto;
    bottom: 10px;
  }
}